<%= link_to "Back", articles_path %>
<br>
<%= link_to "Edit", edit_article_path(@article) %>



<h1>Article</h1>

<p>Title: <%= @article.title %></p>
<p>contents: <%= @article.content %></p>
<br>
<%= link_to "Delete #{@article.title}",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/articles/2"></a>
